@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;700&display=swap');

*{
    font-family: 'Fira Sans', sans-serif;
    background-color: #4b4f55;
}

body{
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4b4f55;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
}

.navbar a {
    color: #fff;
    float: left;
    padding: 12px;
    text-decoration: none;
    font-size: 25px;
}

.navbar a:hover {
    background-color: #a9a6e5;
    color: black;
}

/* Hide navbar on scroll */
.hide {
    top: -50px;
}
  
h1,h2,h3{
  color: #a9a6e5;
}

html, body{
    height: 100%;
}
  
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
  
.center-me{
    width: 20vw;
    height: 25vh;
    font-size: 16px;
    font-size: 4vw;
    border: 1px;
}

video{
    margin-left: 20%;
    width: 50%;
    height: 50%;
    border: 4px solid #a9a6e5; 
}

.main{
    align-items: center;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 125%;
    margin-bottom: 20%;
}

img {
    margin-left: 20%;
    width: 50%;
    height: 50%;
    border: 4px solid #a9a6e5;
}

.misc{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 125%;
    margin-bottom: 10%;  
}

.imperialism{
    width:  70vw;
    height:  40vh;
    font-size: 16px;
    font-size: 4vw;
    border: 1px ;
    margin-left:  20%;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-container img {
    width: calc(20% - 20px);
    margin: 10px;
}

.misc2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40%;
    margin-right: 40%;
    font-size: 125%;
    margin-bottom: 40%;  
}

.center-me2{
    width: 20vw;
    height: 25vh;
    font-size: 16px;
    font-size: 4vw;
    align-items: center;
    justify-content: center; 
    margin-left: 25%;
    margin-right: 40%;
    margin-top: 10%;
    height: 25%;
    width: 100%;
}
#money {
    opacity: 0;
    transition: opacity 0.5s;
}
#money.fade-in {
    opacity: 1;
}

#warning{
    color: red;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: transparent; /* Set the background color to transparent */
    border: none; /* Remove the border */
}

.input input[type="text"],
.input button {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #e1e4e8;
    border-radius: 4px;
    outline: none;
}

.input input[type="text"] {
    background-color: #ffffff; /* Set the background color of the input box to white */
}

.input button {
    background-color: #0366d6; /* Adjust the background color of the button */
    color: white;
    cursor: pointer;
}

.input button:hover {
    background-color: #0358ae; /* Adjust the background color when hovering over the button */
}

.input input[type="text"]:focus {
    border-color: #0366d6; /* Adjust the border color when the input is focused */
    outline: none;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.input h2 {
    margin-top: 10px;
    font-size: 16px;
    color: #a9a6e5;
}



